<div>
    <h2>{{ title }}</h2>
    <div class="my-4">
        <button
        class="btn btn-primary shadow-sm px-4 py-2"
        (click)="onButtonClick()"
        >
            Show Tasks
        </button>
    </div>
    <div *ngIf="data">
        <div class="row g-4">
            <div class="col-md-6" *ngFor="let task of data.tasks">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text">{{ task.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
